
<section class="col-md-8">
	<h1 class="page-header">All Posts</h1>

	<!-- Begin Post -->

	<article
			 ng-repeat="post in postsData | orderBy: 'date' : true"}}>
		<header>
			<h2>
				<a href="#/post/{{post.title | cleanTitle}}">{{post.title}}</a>
			</h2>

			<p>
				<small class="glyphicon glyphicon-user"></small>
				by <a href="#/posts?author={{post.author | lowercase | cleanTitle}}">{{post.author}}</a>
			</p>
			<p>
				<small class="glyphicon glyphicon-time"></small>
				Posted on {{post.date | date : 'dd MMM , yyyy'}}
			</p>
		</header>
		<hr>

		<figure>
			<img class="img-responsive" ng-src= "{{post.image}}" alt="">
		</figure>
		<hr>

		<!-- Post Description -->
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis debitis suscipit assumenda unde possimus, culpa voluptatum ducimus delectus, recusandae fuga eaque porro nam fugiat vel, illo reiciendis corporis quae?</p>
		<br>

		<footer class="clearfix">
			<p class="pull-left" >
				<b >Tags:&nbsp;</b>
				<a href="#/posts?category={{tag | lowercase | cleanTitle}}" class="label label-default" ng-repeat="tag in post.tags">{{tag}}</a>
			</p>

			<a class="btn btn-primary pull-right" href="#/post/{{post.title | cleanTitle}}">
				Read More <i class="glyphicon glyphicon-chevron-right"></i>
			</a>
		</footer>
	</article>
	<hr>
	<!-- End of Post -->

	<!-- Pager -->
	<ul class="pager">
		<li class="previous" ng-show="previousPosts">
			<a href="#/posts/{{pageNum + 1}}">&larr; Older</a>
		</li>
		<li class="next" ng-show="nextPosts">
			<a href="#/posts/{{pageNum - 1}}">Newer &rarr;</a>
		</li>
	</ul>
</section>
